.favorite-icon{
  position: absolute;
  right: 10px;
  bottom: 35px;
  color: black;
}

.watch-later-icon{
  position: absolute;
  right: 10px;
  bottom: 15px;
  color: black;
}
.red{
  color: red;
}
